* {
  box-sizing: border-box;
}

:root {
  --shadow: rgba(150, 150, 150, 0.1);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #2e2e2e;
  color: white;
}
#result {
    text-align: center;
}
#video, #capturedImage {
    width: 450px;
    height: auto;
  margin: auto;
  display: block;
  border-radius: 20px;
  box-shadow: var(--shadow) 0px 2px 2px 0px, var(--shadow) 0px 4px 4px 0px,
    var(--shadow) 0px 8px 8px 0px, var(--shadow) 0px 16px 16px 0px,
    var(--shadow) 0px 32px 32px 0px;
}
#captureBtn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 30px auto;
  display: block;
}

#captureBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  #captureBtn {
    padding: 10px 30px;
  }
}
